<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.0.1" package="com.nosoftskills.kd">
    <uses-sdk android:minSdkVersion="7"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/logo">
        <activity android:label="@string/title_activity_kdmain" android:name=".PluginActivity" android:exported="true" android:finishOnTaskLaunch="false" android:clearTaskOnLaunch="true" android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="org.prowl.torque.ACTIVITY_PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="org.prowl.torque.PID_PLUGIN"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
